<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test file</title>
</head>
<body>
    <h1>Okowa's mandate</h1>
    <h2>My administration is hinged on the SMART AGENDA which focuses on wealth creation, peace building, 
        <br>security, urban renewal, affordable and quality health, agriculture and industrialization.<br>
        A STRONGER DELTA is not just a dream or a cliché, but a definite reality.</h2>
</body>
</html>